# Server Configuration
PORT=3000

# Database Connection (PostgreSQL / Prisma Postgres)
DATABASE_URL="postgres://user:password@localhost:5432/expense_tracker_db?sslmode=require"

# Authentication & Security
JWT_KEY="your-super-secret-jwt-key-here"
